/* Default styles for the navbar */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .artiz {
    font-family: 'Croissant One', cursive;
    font-size: 20px;
    margin-top: 10px;
  }
  
  .link {

    display: flex;
  }
  
  .link a {
    color: #000000;
    text-decoration: none;
    margin-right: 20px;
  }
  
  /* Responsive styles for screens smaller than 768px */
  @media (max-width: 768px) {
    .nav {
      align-items: flex-start;
    }
  
    .link {
      margin-top: 10px;
    }
  
    .link a {
      padding: 5px;
      margin-left: 30px;
      width: 10px;
      height: 10px;
    }
  }
  