body{
  margin: 0px;
  padding: 10px;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;
}
.img{
  margin: 30px;
  width:350px;
  height: auto;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
}
.illu{
  text-decoration: none;
  
}